<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>绑定手机号</title>
    <link rel="stylesheet" type="text/css" href="wap/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="wap/css/style.css">
</head>

<body class="searchbg">
    <div id="app">
        <div class="head_com">
            <div class="hederbg">
                <a href="javascript:history.go(-1)" class="backIcon"></a>
                <h1>绑定手机号</h1>
            </div>
        </div>
        <div class="topjiange"></div>
        <div class="form-control">
            <div class="register-row">
                <i class="registerIcon telIcon"></i>
                <input type="text" placeholder="请输入手机号" v-model="bindphone.tel" @keyup.enter="bindphone" name="" value="">
            </div>
            <div class="register-row">
                <i class="registerIcon codeIcon"></i>
                <input type="password" placeholder="请输入验证码" name="" v-model="bindphone.imgcode" @keyup.enter="bindphone" value="">
                <img src="wap/images/code.png" class="codepng" alt="">
            </div>
            <div class="register-row">
                <i class="registerIcon codeIcon"></i>
                <input type="password" placeholder="请输入手机短信中的验证码" v-model="bindphone.code" @keyup.enter="bindphone" name="" value="">
                <input type="button" class="sendbtn" id="btn" name="" @click="getCode" value="发送验证码">
            </div>
            <div class="form-ms"></div>
            <div class="form-btn">
                <span @click="bindphone">登录</span>
            </div>
        </div>
    </div>
	<script type="text/javascript " src="wap/js/mui.min.js "></script>
    <script type="text/javascript " src="wap/js/jquery.min.js "></script>
    <script type="text/javascript " src="wap/js/vue.js "></script>
    <script type="text/javascript " src="wap/js/bindphone.js "></script>
    <script type="text/javascript">
        mui.init();
    </script>
</body>
</html>