<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>忘记密码</title>
    <link rel="stylesheet" type="text/css" href="wap/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="wap/css/style.css">
</head>

<body class="searchbg">
    <div id="app">
        <div class="head_com">
            <div class="hederbg">
                <a href="javascript:history.go(-1)" class="backIcon"></a>
                <h1>忘记密码</h1>
            </div>
        </div>
        <div class="topjiange"></div>
        <div class="form-control">
            <div class="form-row">
                <div class="form-label">手机号</div>
                <div class="form-input">
                    <input type="text" v-model="forget.tel" name="" value="" placeholder="请输入手机号">
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">验证码</div>
                <div class="form-input">
                    <input type="text" name="" v-model="forget.imgcode" value="" placeholder="请输入验证码">
                </div>
                <img src="wap/images/code.png" class="codepng" alt="">
            </div>
            <div class="form-row">
                <div class="form-label">验证码</div>
                <div class="form-input">
                    <input type="text" name="" v-model="forget.code" value="" placeholder="请输入手机短信中的验证码">
                </div>
                <input type="button" class="sendbtn" id="btn" name="" @click="getCode" value="发送验证码">
            </div>
            <div class="form-row">
                <div class="form-label">新密码</div>
                <div class="form-input">
                    <input type="password" v-model="forget.pass" name="" value="" placeholder="请输入新密码">
                </div>
            </div>
            <div class="form-row">
                <div class="form-label">确认密码</div>
                <div class="form-input">
                    <input type="password" v-model="forget.pass2" name="" value="" placeholder="请再次输入新密码">
                </div>
            </div>
            <div class="form-ms">密码由6-20位英文字母、数字或符号组成</div>
            <div class="form-btn">
                <span @click="forget">确认重置</span>
            </div>
        </div>
        <div class="form-control">
            <div class="form-succ"><img src="wap/images/succ.png" alt=""></div>
            <div class="form-msg">操作成功</div>
            <div class="form-btn">
                <span>确认</span>
            </div>
        </div>
    </div>
	<script type="text/javascript " src="wap/js/mui.min.js "></script>
    <script type="text/javascript " src="wap/js/jquery.min.js "></script>
    <script type="text/javascript " src="wap/js/vue.js "></script>
    <script type="text/javascript" src="wap/js/forgetPassword.js"></script>
    <script type="text/javascript">
        mui.init();
    </script>
</body>
</html>