<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>消息</title>
    <link rel="stylesheet" type="text/css" href="wap/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="wap/css/style.css">
</head>

<body>
    <div id="app">
        <div class="head_com">
            <div class="hederbg">
                <a href="javascript:history.go(-1)" class="backIcon"></a>
                <h1>消息</h1>
                <a href="categroy.html" class="menuIcon"></a>
            </div>
        </div>
        <div class="topjiange"></div>
        <div class="messageList">
            <ul>
                <li>
                    <div class="messageTitle">
                        <div class="messageTitle-name">版本升级</div>
                        <div class="messageTitle-time">2018-04-15</div>
                    </div>
                    <div class="messageCont">新增专业站功能，请立即升级体验</div>
                </li>
            </ul>
        </div>
	 </div>
	 <script type="text/javascript " src="wap/js/mui.min.js "></script>
    <script type="text/javascript " src="wap/js/jquery.min.js "></script>
    <script type="text/javascript " src="wap/js/vue.js "></script>
    <script type="text/javascript " src="wap/js/list.js "></script>
</body>
</html>